
# Stuff we always want to exclude
*.tar.gz
*.pyc
__pycache__

# vim stuff
*.swo
*.swp

# Images and results
*.jpg
*.png
*.txt

# Random directories
data/

# Where I save neural networks
nets/

# I prefaced virtualenvs with this.
venv*

# Saving results here
results/
